@import url('https://fonts.googleapis.com/css?family=Lato:0,700;0,500;0,600;0,400&display=swap');

.axe_report {
  display: flex;
  padding: 64px 80px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  background: var(--General-Backcolor, #FFF);
}

.axe_report_header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 64px;
  width: 100%;
}

.axe_report_summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  width: 100%;
}

.axe_report_summary_header {
  display: flex;
  padding-bottom: 16px;
  align-items: flex-start;
  width: 100%;
}

.axe_report_summary_header_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  width: 100%;
}

.axe_report_summary_title {
  display: flex;
  align-items: center;
  width: 100%;
}

.axe_report_summary_title_text {
  flex: 1 0 0;
  color: var(--General-Forecolor, #161616);
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  display: inline-block;
}

.axe_report_summary_description {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.axe_report_summary_description_text {
  flex: 1 0 0;
  color: var(--General-Forecolor-50, #8A8A8A);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px
    /* 150% */
  ;
  display: inline-block;
}

.axe_report_summary_spacing {
  display: flex;
  padding: 14px;
  align-items: flex-start;
}

.axe_report_summary_spacing_content {
  width: 4px;
  height: 4px;
  overflow: hidden;
}

.axe_report_summary_table {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.axe_report_summary_ok {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.axe_report_chart_summary {
  max-width: 352px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.axe_report_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.axe_report_section {
  width: 100%;
  display: flex;
  align-items: flex-start;
}